@model Birdwatcher.Models.RegionViewModel

@{
    ViewData["Title"] = "Birds in Minnesota";
}

<h2>Birds in Minnesota</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Birds" asp-action="Index" method="get">
    <p>
        Region:
        <select asp-for="birdRegion">
            <option value=""></option>
            <option value="All">Any</option>
            <option value="Central">Central</option>
            <option value="North">North</option>
            <option value="South">South</option>
            <option value="east">East</option>
            <option value="west">West</option>
        </select>

        Color:
        <select asp-for="birdColor">
            <option value=""></option>
            <option value="Black">Black</option>
            <option value="Blue">Blue</option>
            <option value="Brown">Brown</option>
            <option value="Gray">Gray</option>
            <option value="Green">Green</option>
            <option value="Red">Red</option>
            <option value="White">White</option>
        </select>

        Bird Name: <input type="text" name="SearchString"/>
        <input type = "submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.birds[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.birds[0].Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.birds[0].Region)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.birds[0].ImageLocation)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.birds) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                <img src="/images/@(item.ImageLocation)"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
